<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Diary">
	<resultMap type="Diary" id="diaryIncludeAccountMap">
		<id property="id" column="id" />
		<result property="diaryDate" column="diary_date"/>
		<result property="contents" column="contents" />
		<association property="account" column="account_id" resultMap="accountMap" />
	</resultMap>
	
	<resultMap type="Account" id="accountMap">
		<id property="id" column="account_id" />
		<result property="email" column="email" />
	</resultMap>

 	<select id="count" resultType="int">
 		select count(*) from diary
 	</select>
 	
 	<insert id="save" parameterType="Diary" useGeneratedKeys="true" keyProperty="id">
 		insert into diary (diary_date, contents, account_id) 
 		values (#{diaryDate}, #{contents}, #{account.id})
 	</insert>
 	
 	<update id="update" parameterType="Diary">
 		update diary set diary_date = #{diaryDate}, contents = #{contents}
 		where id = #{id}
 	</update>
 	
 	<delete id="deleteById" parameterType="long">
 		delete diary where id = #{id}
 	</delete>
 	
 	<delete id="deleteAll">
 		delete from diary
 	</delete>
 
 	<select id="findAll" resultMap="diaryIncludeAccountMap">
 		select * 
 		from diary d
 			inner join account a on d.account_id = a.id  
 	</select>
 	
 	<select id="findById" parameterType="long" resultMap="diaryIncludeAccountMap">
 		select * 
 		from diary d
 			inner join account a on d.account_id = a.id  
 		where d.id = #{id}
 	</select>
 	
 	<select id="findByDiaryDate" parameterType="string" resultType="Diary">
 		select * from diary where diary_date = #{diaryDate}
 	</select>
</mapper>