<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"> <!-- xmlns:th를 설정하지 않으면 에디터에서 경고가 표시되어 신경쓰임 -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>
		<form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
</div>
<div>
diary count : <span th:text="${count}"></span> 
</div>
<br/><br/>
<div>[diary list]</div><br/>
<table border="1">
	<tr>
		<th>id</th>
		<th>date</th>
		<th>contents</th>
		<th>account id</th>
		<th>account email</th>
	</tr>
	<tr th:each="diary : ${diaries}">
		<td th:text="${diary.id}"></td>
		<td><a href="/diary/1" th:href="@{/diary/{id}(id=${diary.id})}" th:text="${diary.diaryDate}"></a></td>
		<td th:text="${diary.contents}"></td>
		<td th:text=${diary.account.id}></td>
		<td th:text=${diary.account.email}></td>
	</tr>
</table>

<a th:href="@{/diary/add}" href="/diary/add">diary 추가</a>
</body>
</html>